{% extends 'base.html' %}

{% block content %}
    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <strong>{{ result['title'] }}</strong><br>
                    Artista: {{ result['artist']['name'] }}<br>
                    Álbum: {{ result['album']['title'] }}<br><br>
                    <img src="{{ result['album']['cover_medium'] }}" alt="Capa do Álbum"><br>

                    {% if result['preview'] %} 
                        <audio controls>
                            <source src="{{ result['preview'] }}" type="audio/mpeg">
                            Seu navegador não suporta o elemento de áudio.
                        </audio>
                    {% else %}
                        <p>Prévia não disponível.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum resultado encontrado. Tente novamente.</p>
    {% endif %}
{% endblock content %}
