{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Form cadastro -->
    <h2 class="text-light">Cadastro de Música</h2>
    <form action="{{ url_for('cadmusic') }}" method="POST" class="bg-dark p-4 rounded shadow-lg">
        <div class="mb-3">
            <label for="titulo" class="form-label text-light">Título da Música:</label>
            <input type="text" class="form-control" id="titulo" name="title" required>
        </div>

        <div class="mb-3">
            <label for="artista" class="form-label text-light">Artista:</label>
            <input type="text" class="form-control" id="artista" name="artist" required>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label text-light">Categoria:</label>
            <input type="text" class="form-control" id="categoria" name="category" required>
        </div>

        <div class="mb-3">
            <label for="ano" class="form-label text-light">Ano:</label>
            <input type="number" class="form-control" id="ano" name="year" required>
        </div>

        <div class="mb-3">
            <label for="album" class="form-label text-light">Álbum:</label>
            <input type="text" class="form-control" id="album" name="album" required>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>

    <hr class="text-light">
    <!-- Tabela musicas -->
    <h4 class="text-light mt-4">Novas músicas adicionadas:</h4>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Artista</th>
                <th>Categoria</th>
                <th>Ano</th>
                <th>Álbum</th>
                <th style="text-align: center;" colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for m in cad_music %}
            <tr>
                <td>{{ m.title }}</td>
                <td>{{ m.artist }}</td>
                <td>{{ m.category }}</td>
                <td>{{ m.year }}</td>
                <td>{{ m.album }}</td>
                <td> <a style="color: greenyellow; text-decoration: none;" href="#" data-bs-toggle="modal"
                        data-bs-target="#editModal{{ m.id }}">Editar</a></td>
                <td><a style="color: red; text-decoration: none;" href="{{url_for('cadmusic', id=m.id)}}"
                        onclick="return confirm('Deseja mesmo excluir {{m.title}} ?')">Excluir</a></td>
            </tr>
            
            <!-- Modal de Edição -->
            <div class="modal fade" id="editModal{{ m.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ m.id }}"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel{{ m.id }}">Editar Música</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('editmusic', id=m.id) }}" method="POST">
                                <div class="mb-3">
                                    <label for="titulo" class="form-label">Título da Música:</label>
                                    <input type="text" class="form-control" name="title" value="{{ m.title }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="artista" class="form-label">Artista:</label>
                                    <input type="text" class="form-control" name="artist" value="{{ m.artist }}"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="categoria" class="form-label">Categoria:</label>
                                    <input type="text" class="form-control" name="category" value="{{ m.category }}"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="ano" class="form-label">Ano:</label>
                                    <input type="number" class="form-control" name="year" value="{{ m.year }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="album" class="form-label">Álbum:</label>
                                    <input type="text" class="form-control" name="album" value="{{ m.album }}" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-success" onclick="return confirm('Deseja finalizar a alteração?')">Salvar Alterações</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma música cadastrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="text-align: center;">
        <!-- Se houver registro anteriores -->
        {%if cad_music.has_prev%}
        <a style="color: aliceblue;" href="{{url_for('cadmusic', page=cad_music.prev_num)}}">
            << Anterior</a>
                {% endif %}

                {%if cad_music.has_next%}
                <a style="color: aliceblue;" href="{{url_for('cadmusic', page=cad_music.next_num)}}">Próximo >></a>
                {%endif%}
    </p>
</div>
<br>
<br>
<br>
{% endblock content %}