.custom-audio {
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.custom-audio::-webkit-media-controls-panel {
    background-color: black;
    color: greenyellow;
}

.custom-audio::-webkit-media-controls-play-button,
.custom-audio::-webkit-media-controls-volume-slider,
.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
    filter: invert(62%) sepia(43%) saturate(500%) hue-rotate(90deg);
}

       /* Sidebar */
       .sidebar {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #121212;
        color: white;
        padding: 20px;
        padding-top: 80px; 
    }
    .sidebar img {
        width: 100px;
        margin-bottom: 20px;
    }
    .sidebar a {
        display: flex;
        align-items: center;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    .sidebar a:hover {
        background-color: #1db954;
        border-radius: 5px;
    }
    .sidebar i {
        margin-right: 10px;
    }
    .content {
        margin-left: 270px;
        margin-top: 80px; 
        padding: 20px;
    }
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }